/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/scss/bootstrap";

@import "../node_modules/primeng/resources/themes/lara-light-blue/theme.css";

body {
  background-color: #8BC6EC;
background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}

h1, h2, h3, h4, h5{
  color: var(--text-color);
}
